.modalBackdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  display: flex;
}
.modal {
  width: 740px;
  height: 317px;
  max-height: 317px;
  max-width: 740px;
}
.newGroupLabel {
  font-size: 29px;
  font-weight: 500;
  line-height: 46.45px;
}
.groupNameLabel {
  font-size: 27.31px;
  font-weight: 500;
  line-height: 43.75px;
}
.newGroupInput {
  font-size: 23px;
  line-height: 36.84px;
  font-weight: 400;
  border: 2px solid #979797;
  border-radius: 22px;
  padding-left: 20px;
  width: 435px;
  height: 51px;
  color: #979797;
}
.colorLabel {
  font-weight: 500;
  line-height: 43.75px;
  font-size: 27.31px;
}

.colors {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.createButton {
  width: 154px;
  height: 38px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.04px;
  background-color: #16008b;
  border-radius: 10px;

  color: white;
}

.createButtonWrapper {
  display: flex;
  justify-content: end;
}

.selected {
  border: 2px solid black !important;
}

@media only screen and (max-width: 758px) {
  .modal {
    width: 284px !important;
    height: 211px !important;
    padding: 20px !important;
  }

  .newGroupLabel {
    font-size: 18.4px;
    font-weight: 500;
    line-height: 29.47px;
  }

  .groupNameLabel {
    font-size: 14.6px;
    font-weight: 500;
    line-height: 23.39px;
  }
  .colorLabel {
    font-size: 14.6px;
    font-weight: 500;
    line-height: 23.39px;
  }
  .createButton {
    width: 186px;
    border-radius: 6px;
    height: 32px;
    font-size: 17px;
    line-height: 27.23px;
  }
  .createButtonWrapper {
    display: flex;
    justify-content: center;
  }
  .newGroupInput {
    font-size: 10px;
    line-height: 16.02px;
    border: 0.88px solid #cccccc;
    border-radius: 22px;
    padding-left: 10px;
    width: 150px;
    height: 23px;
  }
  .colors {
    width: 17.67px;
    height: 17.67px;
  }
}
