.noteDetailsSection {
  background-color: #dae5f5;
}

.noteCreationSection {
  background-color: #001f8b;
}

.noteDetailsHeader {
  max-height: 98px;
  background-color: #001f8b;
}

.noteContent {
  font-size: 18px;
  line-height: 28.83px;
  font-weight: 400;
  white-space: pre-wrap;
}

.noteTextArea {
  position: relative;
  z-index: 1;
  font-size: 29.82px;
  line-height: 34.94px;
  font-weight: 400;
}

.noteTimestamp {
  font-size: 18px;
  color: #353535;
  font-weight: 500;
  text-align: right;
  line-height: 17.58px;
}

.pocketNotesTitle {
  font-size: 50px;
  line-height: 58.59px;
  font-weight: 700;
  text-align: center;
}

.pocketNotesMessage {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: #292929;
  text-align: center;
}
.encryptionMessage {
  font-size: 22px;
  text-align: center;
  font-weight: 400;
  color: #292929;
  line-height: 32px;
}

.noteDetailsIcon {
  color: #fff;
  font-size: 24.12px;
  width: 68.9px;
  height: 68.9px;
  border-radius: 50%;
}
.folderTitle {
  font-size: 24px;
  font-weight: 500;
}
.sendButtonActive {
  color: #001f8b;
}
.sendButtonDisabled {
  color: #5c5c5c;
}

@media only screen and (max-width: 768px) {
  .noteDetailsHeader {
    max-height: 66px;
  }
  .noteDetailsIcon {
    font-size: 16.8px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-weight: 500;
  }

  .folderTitle {
    font-size: 16.72px;
    font-weight: 500;
  }
  .noteTextArea {
    font-size: 17.71px;
    height: 102px;
    line-height: 34.94px;
  }
  .noteContent {
    font-size: 13px;
    line-height: 20.82px;
  }
  .noteTimestamp {
    font-size: 13.59px;
    line-height: 13.27px;
    text-align: right;
    margin-top: 30px;
  }
}
